<html>
    <head>
        <meta charset="utf-8"/>
        <title>Enviando video do mongo</title>
    </head>
    <body>
        <video src="<%=url%>" controls="controls" type="video/mp4" style="height:500px;width:500px;">
        </video>
    </body>
</html>